<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Novo Aluno</h1>
        <form action="/salvar" method="POST"> 
            <div class="labels">
                <label for="">Nome :</label>
            </div>
            <input type="text" name="nome" class="text-box"> <br/>
            <div class="labels">
                <label for="">Sobrenome :</label>
            </div>
            <input type="text" name="sobrenome" class="test-box"> <br/>
            <div class="labels"> 
                <label for="">Telefone :</label>
            </div>
            <input type="text" name="telefone"> <br/>

            <hr />
            <input type="submit" value="Salvar">
        </form>
    </body>
</html>